@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700");

:root {
  --atomic-tangerine: #f9975d;
  --atomic-tangerine-rgb: 249, 151, 93;
  --camel: #ab885c;
  --camel-rgb: 171, 136, 92;
  --rose: #e71d36;
  --rose-rgb: 231, 29, 54;
}

body {
  background-image: url("assets/img/component/bg.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #011627;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

/* Typography */
.text-thin {
  font-weight: 300;
}

/* Coloring */
.bg-atomic-tangerine {
  background-color: var(--atomic-tangerine);
}

/* Component Bootstrap */
.py-6 {
  padding-top: calc(3rem * 2) !important;
  padding-bottom: calc(3rem * 2) !important;
}

.btn:focus {
  box-shadow: none;
}

.btn.btn-whatsapp {
  background-color: #25d366;
  color: white;
  border: 2px solid #14a24a;
  transition: 0.5s;
}

.btn.btn-whatsapp:hover {
  background-color: #14a24a;
  transform: translateY(-10px);
}

.btn.btn-gmaps {
  background-color: #ffffff;
  color: #000000;
  border: none;
  transition: 0.5s;
  font-weight: 500;
}

.btn.btn-gmaps:hover {
  transform: translateY(-10px);
}

/* Core CSS */
.content-top {
  position: relative;
}

.content-top .component-1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.content-top .component-1 img {
  height: 100%;
  transform: scaleX(-1);
}

.content-top .component-2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.content-top .component-2 img {
  height: 90px;
}

.content-top .component-3 {
  display: flex;
  justify-content: center;
}

.content-top .component-3 img {
  height: 180px;
}

.content-top .component-4 {
  position: absolute;
  bottom: 8rem;
  left: 15rem;
}

.content-top .component-4 img {
  width: 200px;
}

.content-top .logo-center {
  display: flex;
  justify-content: center;
}

.content-top .logo-center .logo {
  width: 500px;
}

.content-body .title {
  font-size: 45px;
  font-weight: 800;
  color: var(--rose);
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.content-body .title-2 {
  font-size: 40px;
  font-weight: 800;
  color: #6e563d;
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.content-body .title-3 {
  font-size: 30px;
  font-weight: 800;
  color: #6e563d;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.content-body .section-1 {
  position: relative;
  background-color: #dde9b9;
}

.content-body .section-1 .title {
  font-size: 3rem;
}

.content-body .section-1 .home-1 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -10px -10px 0 rgba(0, 0, 0, 0.3);
}

.content-body .section-1 .home-1 img {
  width: 100%;
  border-radius: 10px;
}

.content-body .section-2 {
  position: relative;
}

.content-body .section-2 .home-2 {
  position: relative;
}

.content-body .section-2 .home-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.content-body .section-2 .specification {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  width: 30%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.content-body .section-2 .specification .spec-title {
  padding: 15px;
  background-color: var(--rose);
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

.content-body .section-2 .specification .spec-list {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.content-body .section-2 .specification .spec-list li {
  padding-left: 1.3em;
}

.content-body .section-2 .specification .spec-list li:before {
  content: "\f26d";
  font-family: bootstrap-icons !important;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.content-body .section-3 {
  position: relative;
  background-image: url("/assets/img/component/bg_promo.png");
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.content-body .section-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.content-body .section-3 .title {
  font-size: 4rem;
  color: var(--atomic-tangerine);
}

.content-body .section-3 ul li {
  font-size: 3rem;
  font-weight: 800;
  color: var(--atomic-tangerine);
  -webkit-text-stroke: 2px #ffffff;
  list-style-type: "- ";
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.content-body .section-3 img {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.content-body .section-5 {
  background-color: var(--atomic-tangerine);
  color: #ffffff;
}

.content-body .section-5 ul {
  font-size: 1.6rem;
}

.content-body .section-5 ul li {
  font-weight: 300;
}

.content-body .section-5 .text-1 {
  line-height: 3rem;
}

.content-body .section-7 .maps {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.content-body .section-7 .maps iframe {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.content-body .section-8 {
  position: relative;
  padding: calc(3rem * 4) 0;
  background-image: url("assets/img/component/man-with-dollar.jpg");
  background-size: cover;
  z-index: 1;
}

.content-body .section-8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.content-body .section-8 h1 {
  font-size: 100px;
  font-weight: 800;
  color: var(--rose);
  -webkit-text-stroke: 4px #ffffff;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

.content-body .section-9 {
  background-color: var(--atomic-tangerine);
}

.content-body .section-9 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.content-body .section-10 {
  position: relative;
  background-image: url("/assets/img/component/bg_luxury.png");
  background-size: cover;
  background-position-x: -85px;
  background-repeat: no-repeat;
}

.content-body .section-10 ul.list-1 {
  padding-left: 21rem;
}

.content-body .section-10 ul li {
  font-size: 1.5rem;
  color: #131a23;
  font-weight: 500;
}

.mb-6 {
  margin-bottom: calc(3rem * 2);
}

.widget-circle {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: var(--rose);
  border-radius: 100%;
  right: 50px;
  bottom: 50px;
  line-height: 100px;
  z-index: 99;
}

.widget-circle::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.widget-circle::after {
  content: "Untuk 10 Pembeli Pertama";
  font-size: 13px;
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: -35px;
  left: 50%;
  font-weight: 500;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.widget-circle .content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.widget-circle .content h1 {
  font-size: 50px;
}
/* End Core CSS */

/* Mobile */
@media (max-width: 576px) {
  .mb-6 {
    margin-bottom: 3rem;
  }

  .py-6 {
    padding: 3rem 0;
  }

  .content-top .logo-center .logo {
    width: 300px;
  }

  .content-body .title {
    font-size: 1.8rem;
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }

  .content-top .component-1 {
    position: absolute;
  }

  .content-top .component-2 img {
    height: 80px;
  }

  .content-top .component-3 {
    display: flex;
    justify-content: center;
  }

  .content-top .component-3 img {
    width: 80%;
    height: auto;
  }

  .content-top .component-4 {
    bottom: 6rem;
    left: 1rem;
  }

  .content-top .component-4 img {
    width: 80px;
  }

  .content-body .section-1 .title {
    font-size: 2rem;
  }

  .content-body .section-2 .home-2::before {
    display: none;
  }

  .content-body .section-2 .specification {
    position: relative;
    top: unset;
    right: unset;
    transform: unset;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #ffffff;
  }

  .content-body .section-3 {
    background-position-x: center;
  }

  .content-body .section-3 ul li {
    font-size: 2rem;
  }

  .content-body .section-3 .title {
    font-size: 3rem;
  }

  .content-body .section-3 img {
    width: 230px;
    bottom: -40px;
    left: 0;
    z-index: -1;
  }

  .content-body .section-5 .logo {
    width: 100%;
  }

  .content-body .section-5 .text-1 {
    width: 100%;
    font-size: 1rem;
    line-height: 2rem;
  }

  .content-body .section-7 .maps iframe {
    height: 200px;
  }

  .content-body .section-8 {
    padding: calc(3rem * 2) 0;
  }

  .content-body .section-8 h1 {
    font-size: 70px;
  }

  .content-body .section-9 img {
    height: 200px;
  }

  .content-body .section-10 {
    background-position-x: -170px;
    z-index: 2;
  }

  .content-body .section-10::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content-body .section-10 ul.list-1 {
    padding-left: 4.1rem;
  }

  .content-body .section-10 ul li {
    font-size: 1rem;
    font-weight: 400;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .content-top .component-4 {
    bottom: 8rem;
    left: 1rem;
  }

  .content-top .component-4 img {
    width: 150px;
  }

  .content-body .section-2 .specification {
    width: 40%;
  }

  .content-body .section-2 .specification .spec-title {
    padding: 10px;
  }

  .content-body .section-2 .specification .spec-list {
    font-size: 1.2rem;
  }

  .content-body .section-3 .title {
    font-size: 5rem;
  }

  .content-body .section-3 img {
    right: 0;
  }

  .content-body .section-10 {
    background-position-x: -170px;
  }

  .content-body .section-10 ul.list-1 {
    padding-left: 11.3rem;
  }

  .content-body .title {
    font-size: 40px;
  }

  .content-body .section-7 .maps iframe {
    height: 400px;
  }

  .content-body .section-8 {
    padding: calc(3rem * 3) 0;
  }

  .content-body .section-9 img {
    height: 190px;
  }
}

@media (max-width: 992px) {
  .widget-circle .content h5 {
    font-size: 1rem;
  }
  .widget-circle {
    bottom: 35px;
  }
  .widget-circle {
    position: fixed;
    width: 150px;
    height: 150px;
    top: unset;
    bottom: 80px;
    right: 20px;
    z-index: 99;
  }
  .widget-circle::before {
    width: 140px;
    height: 140px;
  }
  .widget-circle::after {
    bottom: -45px;
    font-size: 10px;
  }
  .widget-circle .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
  .widget-circle .content h1 {
    font-size: 40px;
  }
}
